<tbody>
	<tr> <td ALIGN="center">05Y - 03Y</td> <td ALIGN="center"><strong><%= number_with_precision(trading.n1, precision: 1)%></strong> </td>  <td ALIGN="center"><%= number_with_precision(trading.n11, precision: 1)%></td>  </tr>
	<tr> <td ALIGN="center">10Y - 03Y</td> <td ALIGN="center"><strong><%= number_with_precision(trading.n2, precision: 1)%></strong> </td>  <td ALIGN="center"><%= number_with_precision(trading.n12, precision: 1)%></td>  </tr>
	<tr> <td ALIGN="center">10Y - 05Y</td> <td ALIGN="center"><strong><%= number_with_precision(trading.n3, precision: 1)%></strong> </td>  <td ALIGN="center"><%= number_with_precision(trading.n13, precision: 1)%></td>  </tr>
	<tr> <td ALIGN="center">20Y - 10Y</td> <td ALIGN="center"><strong><%= number_with_precision(trading.n4, precision: 1)%></strong> </td>  <td ALIGN="center"><%= number_with_precision(trading.n14, precision: 1)%></td>  </tr>
	<tr> <td ALIGN="center">30Y - 10Y</td> <td ALIGN="center"><strong><%= number_with_precision(trading.n5, precision: 1)%></strong> </td>  <td ALIGN="center"><%= number_with_precision(trading.n15, precision: 1)%></td>  </tr>
	<tr> <td ALIGN="center">30Y - 20Y</td> <td ALIGN="center"><strong><%= number_with_precision(trading.n6, precision: 1)%></strong> </td>  <td ALIGN="center"><%= number_with_precision(trading.n16, precision: 1)%></td>  </tr>
	<tr> <td ALIGN="center">BEI      </td> <td ALIGN="center"><strong><%= number_with_precision(trading.n7, precision: 1)%></strong> </td>  <td ALIGN="center"><%= number_with_precision(trading.n17, precision: 1)%></td>  </tr>
</tbody>

